@tailwind base;
@tailwind components;
@tailwind utilities;


.vh-95{
  height: 95vh !important;
}

.chat-height{
  height: calc(100%-200vh);
}

.chat-messasge-right, .chat-messasge-left{
  display: flex;
  flex-shrink: 0;
}

.chat-messasge-left{
  margin-right: auto;
}

.chat-messasge-right{
  flex-direction: row-reverse;
  margin-left: auto;
}

.chat-window{
  z-index: 100;
  height: 100%;
  overflow: hidden;
}

.chat-input{
  position: sticky;
  bottom: 0;

}

.styles_scrollable_div__prScv{
  max-height: calc(100%-2px) !important;
  height: calc(100%-2px) imo !important ;
  overflow: auto;
}
